<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">   
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="dist/app.css">
    <title>Document</title>
</head>
<body>
    
    <div id="root">
        <header>
            <!-- NAVBAR -->
            <nav>
                <div class="container">
                    <div class="logo">
                        <img src="img/theme_eduprime_logo.png" alt="">
                    </div>
                    <div class="flex">
                        <ul>
                            <li v-for="item in navList">{{item.name}}</li>
                        </ul>
                        
                        <div>
                            <button class="yellow">view courses</button>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- END NAVBAR -->
            <div class="header-title">
                <h1>key to your success</h1>
                <p>Eduprime is the most versatile WordPress theme for educational purposes,<br> showcasing universities, courses, secondary schools etc.</p>
                <div>
                    <button class="yellow">search courses</button>
                    <button class="white">apply for university</button>
                </div>
            </div>
        </header>

        <main>
            
                <!-- Courses -->
                <section class="courses">
                    <div class="container">
                        <div class="flex">
                            <div class="desc">
                                <h2>thousand of courses for any type of student</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, animi ut aspernatur sunt nihil,<br>
                                    dolor, accusantium quasi in sit tenetur doloribus autem at cumque exercitationem vel iure quo maiores.
                                    Beatae?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo illum iste, labore quos iure ex animi<br>
                                    tempora a exercitationem nihil, ratione debitis sed eligendi? Labore reiciendis enim error voluptas doloremque.
                                </p>
                                <button class="yellow">browse trough courses</button>
                            </div>
                            <div>
                                <img src="img/Graduation-Illustration.png" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Courses -->

                <!--  -->

                <!-- Faculties -->
                <section class="faculties">
                    <div class="container">
                        <h2>Faculties avaliable at EduPrime</h2>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus natus eos accusantium.</span>
    
                        <ul>
                            <li><img src="img/Coins-tabs-v2.png" alt=""></li>
                            <li><img src="img/Medicine-tabs-v2.png" alt=""></li>
                            <li><img src="img/Computer-tabs-v2.png" alt=""></li>
                            <li><img src="img/Palette-tabs-v2.png" alt=""></li>
                        </ul>
    
                        <div class="flex">
                            <div class="desc">
                                <h2>law faculty</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, animi ut aspernatur sunt nihil,<br>
                                    dolor, accusantium quasi in sit tenetur doloribus autem at cumque exercitationem vel iure quo maiores.
                                </p>
                                <button class="red">browse trough courses</button>
                            </div>
                            <div>
                                <img src="img/Gavel-Illustration-e1556884768193.png" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Faculties -->

                <!-- University -->
                <section class="university">
                    <div class="container">
                        <h2>university year</h2>
                        <div class="timeline-top">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
                                 Pariatur dignissimos iusto rem voluptatum minus in voluptates illum! Quaerat,
                            </p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
                                 Pariatur dignissimos iusto rem voluptatum minus in voluptates illum! Quaerat,
                            </p>
                        </div>
                        <div>
                            <img src="img/Timeline-Item.png" alt="">
                        </div>
                        <div class="timeline-bottom">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> 
                                Pariatur dignissimos iusto rem voluptatum minus in voluptates illum! Quaerat,
                            </p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> 
                                Pariatur dignissimos iusto rem voluptatum minus in voluptates illum! Quaerat,
                            </p>
                        </div>
                    </div>
                </section>
                <!-- End University -->
                <!-- Events -->
                <section class="events">
                    <div class="container">
                        <ul class="flex">
                            <li class="session">
                                <h3>coaching sessions</h3>
                                <span>date</span>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <button class="red">find more</button>
                            </li>
                            <li class="session">
                                <h3>coaching sessions</h3>
                                <span>date</span>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <button class="red">find more</button>
                            </li>
                            <li class="session">
                                <h3>coaching sessions</h3>
                                <span>date</span>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <button class="red">find more</button>
                            </li>
                        </ul>
                        <div>
                            <button class="yellow">view all events</button>
                        </div>
                    </div>
                </section>
                <!-- End Events -->

                <!-- Last Courses -->
                <section class="references">
                    <div class="container">
                        <h2>last courses</h2>
                        <ul class="flex">
                            <li class="item">
                                <img src="img/Decisions-icon.png" alt="">
                                <h3><strong>make better decisions</strong></h3>
                                <span>teacher: <strong>james collins</strong> </span><br>
                                <span>price: <strong>$21</strong> </span>
                                <button class="red"></button>
                            </li>
                            <li class="item">
                                <img src="img/Speaker-icon.png" alt="">
                                <h3><strong>how to be a speaker</strong></h3>
                                <span>teacher: <strong>james collins</strong> </span><br>
                                <span>price: <strong>free</strong> </span>
                                <button class="red"></button>
                            </li>
                            <li class="item">
                                <img src="img/Network-icon.png" alt="">
                                <h3><strong>network introductions</strong></h3>
                                <span>teacher: <strong>james collins</strong> </span><br>
                                <span>price: <strong>free</strong> </span>
                                <button class="red"></button>
                            </li>
                            <li class="item">
                                <img src="img/Brand-icon.png" alt="">
                                <h3><strong>brand management</strong></h3>
                                <span>teacher: <strong>james collins</strong> </span><br>
                                <span>price: <strong>free</strong> </span>
                                <button class="red"></button>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- End Last Courses -->

                <!-- Methods -->
                <section class="methods">
                    <div class="container">
                        <div class="flex">
                            <div class="desc">
                                <h2>thousand of courses for any type of student</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, animi ut aspernatur sunt nihil,<br>
                                    dolor, accusantium quasi in sit tenetur doloribus autem at cumque exercitationem vel iure quo maiores.
                                </p>
                                <button class="red">discover the methods</button>
                            </div>
                            <div>
                                <img src="img/Exam-Illustration.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="flex reverse">
                            <div class="desc">
                                <h2>thousand of courses for any type of student</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, animi ut aspernatur sunt nihil,<br>
                                    dolor, accusantium quasi in sit tenetur doloribus autem at cumque exercitationem vel iure quo maiores.
                                </p>
                                <button class="red">list of fees</button>
                            </div>
                            <div>
                                <img src="img/Girl-Illustration.png" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Methods -->

                <!-- Subscribe -->
                <section class="subscribe">
                    <div class="container">
                        <div class="flex">
                            <div>
                                <h2>subscribe now to Our Newsletter</h2>
                            </div>
                            <div>
                                <input type="text" placeholder="email address">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Subscribe -->

                <!-- Partners -->
                <section class="partners">
                    <div class="container">
                        <h2>partners</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus blanditiis quas,</p>
                        <div class="flex">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                        </div>
                    </div>
                </section>
                <!-- End Partners -->
        </main>
        <footer>
            <div class="container">
                
                <div class="flex">
                    <div>
                        <div class="logo">
                            <img src="img/theme_eduprime_logo.png" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                            Quas asperiores fugiat voluptates dolores, odit dolore sunt <br>
                            quasi mollitia. Ullam neque voluptates soluta quam veniam autem <br>
                        </p>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div>
                        <ul v-for="(item , index) in footerList">
                            <li class="name">{{item.name}}</li>
                            <li v-for="item in footerList[index].list">{{item}}</li>
                        </ul>
                    </div>
                    <div class="search">
                        <input type="text" placeholder="search...">
                        <p>search categories</p>
                        <div class="cat">
                            <button class="red" v-for="items in categories">{{items}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    <script src="dist/app.js"></script>
</body>
</html>