*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
li{
    list-style-type: none;
}
body{
    font-family: 'Balsamiq Sans', cursive;
    font-size: $standardFontSize;
    color:  $mainTextColor;
}
button{
    font-size: $standardFontSize;
}
.container{
    width: 65%;
    margin: auto;
}
.flex{
    display: flex;
}
h1,h2,h3,h4{
    color: $titleColor;
}
