*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
li{
    list-style-type: none;
}
body{
    font-family: 'Catamaran', sans-serif;
}
.container{
    width: 65%;
    margin: auto;
}
.flex{
    display: flex;
}