header{
    background-color: $primaryColor;
    .header-title{
        text-align: center;
        padding: 80px 0;
        h1{
            font-size: $largeFontSize;
            color: $textPrimaryColor;
        }
        p{
            color: $textPrimaryColor;
            font-size: $standardFontSize;
        }
        div{
            margin-top: 40px;
            .yellow{
                @include bigButton;
                @include yellowButton; 
                margin-right: 10px;
                font-size: $standardFontSize
            }
            .white{
                @include bigButton;
                @include whiteButton;
                margin-left: 10px;
                font-size: $standardFontSize
            }
        }
    }
}