@mixin bigButton {
    padding: 20px 35px;
    border-radius: 999px;
    outline: none;
}
@mixin standardButton {
    padding: 10px 20px;
    border-radius: 999px;
    outline: none;
}

@mixin yellowButton{
    background-color: $buttonPrimaryColor;
    font-weight: bold;
    color: $buttonPrimarytext;
    border: none;
}

@mixin whiteButton{
    background-color: $buttonSecondaryColor;
    font-weight: bold;
    color: $buttonSecondaryText;
    border: none;
}

@mixin redButton{
    background-color: $buttonTertiaryColor;
    font-weight: bold;
    color: $buttonTertiaryText;
    border: none;
}

@mixin background {
    background-image: url($headerBackgroundImage); 
    background-repeat: no-repeat
}

@mixin searchBar {
    border-radius: 999px;
    border: none;
    padding: 25px 40px;
    outline: none;
}
@mixin whiteLayover{
    background-color: rgba($color: #ffffff, $alpha: 0.6);
}
@mixin redLayover{
    background-color: rgba($color: red, $alpha: 0.5);
}
@mixin layover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}