// text styles
$largeFontSize: 80px;
$mediumFontSize: 25px;
$standardFontSize: 22px;
$textPrimaryColor: white;

// page colors
$primaryColor: #de6f70;

// buttons
$buttonPrimaryColor: #e9d758;
$buttonPrimarytext: white;

$buttonSecondaryColor: white;
$buttonSecondaryText: #de6f70;
