// TEXT STYLES
$largeFontSize: 80px;
$secondaryTitleSize: 50px;
$tertiaryTitleSize: 30px;
$mediumFontSize: 25px;
$standardFontSize: 16px;
$mainTextColor: #454545;
$textPrimaryColor: white;
$textSecondaryColor: gray;
$titleColor: #3d404f;


// ----------------------

// END IMAGES

// ----------------------

// COMMONS
$primaryColor: #e56768;
$secondaryColor: white;
$tertiaryColor: #e9d758;


// END COMMONS

// ----------------------

// BUTTONS
$buttonPrimaryColor: #e9d758;
$buttonPrimarytext: white;
$hoverPrimaryColor: #db2a2c;
$hoverSecondaryColor: #de6f70;
$hoverTertiaryColor: white;

// --- //
$buttonSecondaryColor: white;
$buttonSecondaryText: #de6f70;

// --- //
$buttonTertiaryColor: #de6f70;
$buttonTertiaryText: white;

// END BUTTONS

// ----------------------

// LAYOVER
